<h2 style="margin-left:15px; margin-right:15px">About MovieRama</2>
	<h4 style="margin-left:15px; margin-right:15px">MovieRama is an assignment project for a Developer position. Here a user can register and create a profile.
		After that he can upload movies with description and title.</h4>
		<br>
		<h4 style="margin-left:15px; margin-right:15px">After creating a movie only this user can edit it or delete it. Other signed in users can like or hate the movie. A user can only like or hate a movie once.
			A user <strong>cannot like or hate</strong> his own movie.
			If a user has liked a movie and then clicks the hate button then his <strong>like is being revoked</strong> and his vote now counts as "hate".
			If a user has liked a movie and he clicks the like button again then his like is being revoked.
			The same goes for the hate buttons.
		</h4>
		<br>
		<h4 style="margin-left:15px; margin-right:15px">Wherever in the site you click on a user name then you redirect to his profile and see all the movies that he has uploaded.
		There we added an <strong>extra feature</strong>, so you can see a list of all the movies this user has liked.
		</h4>
		<br>
		<h4 style="margin-left:15px; margin-right:15px">You can sort the list of movies either by date, by number of likes, or by number of hates.</h4>
		
