<h2 style="margin-left:15px">Error 404</h2>

<br>
<h2 style="margin-left:15px">Oups.. The page you asked does not exist</h2>

<br>
<h3 style="margin-left:15px"><%=link_to 'Home page', :controller => :movies, :action => :index%>